code, pre {
  font-family: 'Anonymous Pro', 'monospace';
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  overflow: auto;
  word-wrap: break-word;
}
