@white: #fff;
@off-white: #f2f2f2;
@black: #454545;
@dark-grey: #b3b3b3;
@grey: #cccccc;
@light-grey: #e6e6e6;
@hairline-grey: fade(@black, @justahint);

@red: #ef272d;
@secondary-red: #d31016;
@tertiary-red: #fde5e6;

@orange: #ff6622;
@secondary-orange: #ee4900;
@tertiary-orange: #fff3ee;

@yellow: #ffda21;
@secondary-yellow: #edc500;
@tertiary-yellow: #fffced;

@green:#3eb633;
@secondary-green: #308e28;
@tertiary-green: #c9efc6;

@blue: #0099ed;
@secondary-blue: #0078ba;
@tertiary-blue: #bae7ff;

@indigo: #583c9c;
@secondary-indigo: #432e77;
@tertiary-indigo: #cabee6;

@violet: #8d25bb;
@secondary-violet: #6d1d90;
@tertiary-violet: #e1bbf1;
