dl, ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    .bottom-border;
  }
  li:last-child {
    .no-border;
  }
  &[horizontal] {
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      padding-left: @pad;
      padding-right: @pad;
      .only-right-border
    }
    li:last-child {
      .no-border;
    }
  }
  &[start] {
    justify-content: flex-start;
  }
  &[end] {
    justify-content: flex-end;
  }
}

li[dotted] {
  list-style-type: none;
  &:before {
    content: '\25E6';
    margin-right: @margin;
  }
}

dt {
  display: block;
}

dd {
  display: inline-block;
  margin: 0;
  padding-left: @pad;
  font-size: 0.62em;
  line-height: 1;
}
