@borderRadius: 0;
@nearlyOpaque: 80%;
@faded: 50%;
@transition: 0.2s ease;
@white: #fff;
@black: fade(#000, @nearlyOpaque);
@green:#5BBD72;
@red: #D95C5C;

.hide {
  display: none !important;
}

.transform(@transform) {
  transform: @transform;
  -webkit-transform: @transform;
}

.transition(@t) {
  transition: @t;
  -webkit-transition: @t;
}

