container {
  display: block;
  max-width: 60em;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  overflow: visible;
}

box {
  display: block;
  padding: 1em;
  margin-top: 0.5em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  border: 1px solid @color-border;
}
