@import "./variables.less";
@import "./flags.less";
@import "./borders.less";

container, [container] {
  display: block;
  max-width: 60em;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  overflow: visible;
}

box, [box] {
  display: block;
  padding: 1em;
  margin-top: 0.5em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  .border;
}

background, [background] {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  .flat;
}

background[inverted] {
  background-color: @black;
  color: @white;
}

panel, [panel] {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

//layout control, fill up the entire parent screen
fullscreen, [fullscreen], [full], .full {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

[fill], .fill {
  line-height: 1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//layout control, dock to the left of the screen
leftdock, [leftdock] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

//stack children right on top of one another
stack, [stack] {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  & > :nth-child(1) {
  }
  & > :nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

[larger], .larger {
  font-size: 1.5em;
  line-height: 1.5em;
}

[smaller], .smaller {
  font-size: 0.62em;
  line-height: 0.62em;
}

[invert], .invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

//handy colors
[red] {
  color: @red;
}

[orange] {
  color: @orange;
}

[yellow] {
  color: @yellow;
}

[green] {
  color: @green;
}

[blue] {
  color: @blue;
}

[indigo] {
  color: @indigo;
}

[violet] {
  color: @violet;
}

//The 'disabler'. This is an element you put over anything to disable it.
.disabler-enabled {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .transition(@transition);
  .transform(rotateX(180deg));
  .backface-visibility(hidden);
}

.disabler-disabled {
  .transform(rotateX(0deg));
  background-color: @hairline-grey;
  .flat;
}
